# Project exclude paths
/node_modules/
/.idea/modules.xml
/.idea/car-parts-store-server.iml
/.idea/jsLinters/eslint.xml
/.idea/jsLibraryMappings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/prettier.xml
/.idea/vcs.xml
/.idea/dataSources/67d99199-c80f-440c-95ec-fa0a0082c2bd.xml
/.idea/dataSources.local.xml
/.idea/dataSources.xml
/.idea/dataSources/67d99199-c80f-440c-95ec-fa0a0082c2bd/storage_v2/_src_/database/postgres.edMnLQ/schema/information_schema.FNRwLQ.meta
/.idea/dataSources/67d99199-c80f-440c-95ec-fa0a0082c2bd/storage_v2/_src_/database/StoreDB._-To8g/schema/information_schema.FNRwLQ.meta
/.idea/dataSources/67d99199-c80f-440c-95ec-fa0a0082c2bd/storage_v2/_src_/database/postgres.edMnLQ/schema/pg_catalog.0S1ZNQ.meta
/.idea/dataSources/67d99199-c80f-440c-95ec-fa0a0082c2bd/storage_v2/_src_/database/StoreDB._-To8g/schema/pg_catalog.0S1ZNQ.meta
/.idea/dataSources/67d99199-c80f-440c-95ec-fa0a0082c2bd/storage_v2/_src_/database/postgres.edMnLQ.meta
/.idea/dataSources/67d99199-c80f-440c-95ec-fa0a0082c2bd/storage_v2/_src_/database/postgres.edMnLQ/schema/public.abK9xQ.meta
/.idea/dataSources/67d99199-c80f-440c-95ec-fa0a0082c2bd/storage_v2/_src_/database/StoreDB._-To8g/schema/public.abK9xQ.meta
/.idea/sqldialects.xml
/.idea/sqlGenerator.xml
/.idea/dataSources/67d99199-c80f-440c-95ec-fa0a0082c2bd/storage_v2/_src_/database/StoreDB._-To8g.meta
